<%= render('common/nav') %>

<section class="intro-text">
    <h2>我 們 提 供 您 </h2>
    <h1>最好 &amp; 最美味的菜淆</h1>
</section>

<section id="container">
    <div class="dropcap">
      <div class="one-third">
          <a href="#"><i class="fa fa-coffee"></i></a>
            <h4>COFFEE</h4>
        </div>
        <div class="one-third">
          <a href="#"><i class="fa fa-cutlery"></i></a>
            <h4>DISHES</h4>
        </div>
        <div class="one-third-last">
          <a href="#"><i class="fa fa-glass"></i></a>
            <h4>DRINKS</h4>
        </div>
    </div>

</section>
<%= render('common/footer')%>