<footer>
<div class="one-third">
    <p>Call Us : 085 - 2564 - 453 Email Us : support@cooks.com  </p>
</div>
<div class="one-third">
    <p class="copy-right">© All Rights Reserved by itself</p>
</div>
<div class="one-third-last">
      <ul>
          <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-rss"></i></li>
            <li><i class="fa fa-youtube"></i></li>
            <li><i class="fa fa-linkedin"></i></li>
        </ul>
</div>
</footer>