<img id="full-screen-background-image" src="<%= image_path('slider-img-2.jpg')%>" alt="img" />

<div id="controls-wrapper" class="load-item">
    <div id="controls">
        <ul id="slide-list"></ul>
    </div>
</div>

<section id="logo">
    <a href="/"><h1>Cooks</h1></a>
    <h4>Restaurant Theme</h4>
</section>
<nav class="menu nav_wrapper" id="myslidemenu">
    <ul class="menu" id="jqueryslidemenu">
        <li class="current"><a href="/"><i class="fa fa-home"></i>首 頁</a></li>
        <li><a href="javascript:;"><i class="fa fa-cutlery"></i>美 食 菜 單</a>
          <ul class="sub-menu">
              <li><a href="cpt">美 食 菜 單</a></li>
                <li><a href="tabular">表 格 菜 單</a></li>
            </ul>
        </li>
        <li><a href="daily"><i class="fa fa-thumbs-o-up"></i>今 日 推 薦</a></li>
        <li><a href="new"><i class="fa fa-comments"></i>最 新 消 息</a></li>
        <li><a href="contact"><i class="fa fa-phone-square"></i>聯 絡 我 們</a></li>
    </ul>
</nav>
